body{
    margin: 0;
    background: url(images/ets.jpg) no-repeat center;
    background-size: cover;
    min-height: 100vh;
    animation: movimiento 20s infinite linear alternate;

}

@keyframes movimiento{
    from{
        background-position: top right;
    } to{
        background-position: bottom top;
    }
}

header{
    background: indianred;
    padding: 20px;
    text-align: center;
    margin-bottom: 0px;
}

h2 {
    text-align: center;
    margin-right: 10rem;
    color: white;
    font-size: 25px;
    font-weight: 400;
}

main{
    width: 50%;
    height: 320px;
    margin: auto;
    padding: 20px;
   
    text-align: center;
    text-decoration: none;
}

.logo img {
    margin: -20px;
    margin-left: 2px;
    float: left;
    padding: 0;
    max-width: 150px;
    max-height: 150px;

   
}

.logo:hover{
}

.boton-jugar{
   
    text-align: center;
    text-decoration: none;
    padding: 15px;
    font-weight: 400;
    font-size: 25px;
    color: #ffffff;
    background-color: gray;
    border-radius: 6px;
    border: 3px solid #01030f;
    margin-bottom: 15px;
    margin-top: 50%;
    transform: translateY(0px); /* Fazendo o botão flutuar*/
    animation: float 5s ease-in-out infinite;
}


/*Para o botão fçutuar*/
@keyframes float {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-30px);
    }
    100% {
        transform: translateY(0px);
    }
}


.boton-jugar:hover{
    color: indianred;
    background-color: #ffffff;
}


footer{
        display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin: 0%;
    background: indianred;
    padding: 0.5%;
    bottom: 0;
    width: 99%;
    position: absolute;

}

.rodape {
    align-items: center;
}

.redes {
    align-items: center;
    margin-right: 43%;
    flex-direction: row-reverse;
}

.linkedin{
    max-height: 1rem;
    max-width: 1rem;
    margin-left: 50%;
    flex-direction: row;
    flex-wrap: wrap;
}

.linkedin:hover{
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -o-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(1.5)
}


.github{
    max-height: 1rem;
    max-width: 1rem;
    margin-top: 0%;
    margin-left: 50%;
    flex-direction: row;
    flex-wrap: Swrap;
        
}

.github:hover{
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -o-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(1.5)
}


.copyright{
    margin: 0;
    text-align: center; 
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
}

.audio {
    margin-left: 80%;
    margin-top: -2%;
     max-width: 5px;
    
  }

  @media screen and (max-width:480px){

    body{
        margin: 0;
        width: 100%;
        background-size: cover;
        
        min-height: 125vh;
        animation: movimiento 40s infinite linear alternate;
    }

    @keyframes movimiento{
        from{
            background-position: top left;
        } to{
            background-position: bottom top;
        }
    }

    header {
        background: indianred;
        margin: 0px;
        padding: 50px;
        width: 100%;
        text-align: center;
        margin-bottom: 50px;
        display: inline-block;
        flex-wrap: nowrap;
    }

    .boton-jugar{
        
        text-align: center;
        text-decoration: none;
        padding: 15px;
        font-weight: 400;
        font-size: 25px;
        color: #ffffff;
        background-color: gray;
        border-radius: 6px;
        border: 3px solid #01030f;
        margin-bottom: 15px;
        margin-top: 10%;
        margin-left: 50%;
    }
    .boton-jugar:hover{
        color: indianred;
        background-color: #ffffff;
    }

    .audio {
        margin-left: 0%;
        height: 0px;
        margin-top: -40%;
         
       
      }
    .logo{
        margin: 0;
        margin-left: -25px;
        max-height: 10%;
      }

    footer{
       background-color: indianred;
       display: flex;
       flex-direction: row;
        position: relative;
        left: 0;
        bottom: 0;
        width: 100%;
        position: static;
        
          }

          .rodape {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
          }

    .redes {

        max-width: 85%;
    }

    .linkedin{

        max-width: 9%;
        margin-left: 50;
        margin-top: 10%;
        margin-bottom: 10px;
    }
    
    .github{
        max-width: 14%;
        margin-top: 5%;
        margin-left: auto;
        margin-top: auto;
        margin-bottom: 10px;
            
    }
        
    .copyright{
        margin: 0;
        text-align: center; 
        color: #ffffff;
        font-size: 18px;
        font-weight: 400;
       
          
    }
    
  }
